.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


.item-button-right, a.item.item-button-right, button.item.item-button-right {
  padding-right: 50px;
}
.button-bottom{
  top:initial!important;
  bottom: 7px;
  font-size: 16px!important;
  padding-top: 0px;
}

.price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: absolute;
  top: 4px;
  right: 15px;
  min-width: 34px;
  min-height: 34px;
  font-size: 18px;
  line-height: 32px;
}

.description{
  min-height:18px;
  margin-bottom: 0;
}

.item.active:not(.item-divider):not(.item-input):not(.item-input-inset), .item-complex.active .item-content {
  background-color:inherit;
  border-color: #ccc;
}

.logo{
  position: absolute;
  top:0;
  right:-38px;
  height: 44px;
  z-index: 20;
}
.bar.bar-positive {
  background-color: black;
  border-color: black;
}

.ion-ios7-minus,.ion-ios7-plus{
  cursor:pointer;
  font-size: 19px;
  padding: 4px;
}

.ion-ios7-minus:active, .ion-ios7-minus .active, .ion-ios7-plus:active, .ion-ios7-plus .active{
  color: #66cc33;
}

.bar .title{
  font-size: 18px;
}

.absolute-price {
  position: absolute;
  top: 190px;
  width: 55px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 9999;
  color: white;
  background-color: rgba(60, 138, 50, 0.93);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.active-panier{
  color: green;
  transition: 1s;
  -webkit-transform: scale(1.1);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.pulse{
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.hover{
  cursor: pointer;
}