<ion-view title="Sushi Mont Blanc" >
    <ion-content has-header="true" has-tabs="false" has-bouncing="false" >

        <div class="list">
            <img src="images/long.jpg" style="width: 100%;margin-bottom: -4px;">
            <a class="item item-icon-left" href="#/tab/categories">
                <i class="icon ion-ios7-search-strong"></i>
                Carte
            </a>
            <a class="item item-icon-left" href="#/tab/panier">
                <i class="icon ion-bag"></i>
                Panier
            </a>
            <a class="item item-icon-left" href="#/tab/boutiques">
                <i class="icon ion-ios7-location"></i>
                Boutiques
            </a>
        </div>
    </ion-content>
</ion-view>
