<ion-view title="Sushi Mont Blanc" >
    <ion-content has-bouncing="false" >
        <div style="text-align: center;background-color: black">
            <img src="images/long.jpg" style="width: 100%;max-width: 900px;">

        </div>
        <div class="list">
            <a class="item item-icon-left" href="#/tab/categories">
                <i class="icon ion-ios7-search-strong"></i>
                Carte
            </a>
            <a class="item item-icon-left" href="#/tab/ingredients">
                <i class="icon ion-ios7-heart"></i>
                Ingrédients
            </a>
            <a class="item item-icon-left" href="#/tab/panier">
                <i class="icon ion-bag"></i>
                Panier
            </a>
            <a class="item item-icon-left" href="#/tab/boutiques">
                <i class="icon ion-ios7-location"></i>
                Boutiques
            </a>
        </div>
    </ion-content>
</ion-view>
