<ion-view title="Carte">
  <ion-content has-bouncing="false">
      <div class="list">

          <a class="item item-thumbnail-left" ng-repeat="category in categories" href="#/categories/{{category.id}}">
              <img ng-src="{{category.image}}" class="rounded">
              <h2 style="vertical-align: middle; margin: auto;height: 25px;font-size: 18px;top: 0;bottom: 0;position: absolute;">{{category.title}}</h2>
              <p>{{category.description}}</p>
          </a>

        </div>

  </ion-content>
</ion-view>
