<ion-view title="Heure de retrait" left-buttons="leftButtons">
    <ion-nav-buttons side="left">
        <button class="button ion-ios7-arrow-back button-icon" ng-click="go('command.location')">
            Retrait
        </button>
    </ion-nav-buttons>
    <ion-content has-header="true" has-tabs="true" has-bouncing="false">
        <div class="item text-center alert alert-info">
            Choisir le jour et l'heure de retrait
        </div>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Jour</span>
                <select ng-change="change()" ng-model="command.day">
                    <option ng-repeat="day in days" value="{{$index}}">{{day}}</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Heure</span>
                <select ng-change="change()" ng-model="command.time">
                    <option ng-repeat="hour in hours" value="{{$index}}">{{hour}}</option>
                </select>
            </label>
        </div>
        <div class="padding">
            <a class="button button-calm button-block" href="#/command/client" >Valider</a>
        </div>
    </ion-content>
</ion-view>
