<ion-view title="Point de retrait" left-buttons="leftButtons">
    <ion-nav-buttons side="left">
        <button class="button ion-ios7-arrow-back button-icon" ng-click="go('tab.cart')">
            Panier
        </button>
     </ion-nav-buttons>
    <ion-content has-bouncing="false">
        <div class="item text-center alert alert-info">
            Sélectionner un point de retrait
        </div>
        <ul class="list">

            <a class="item" href="#/command/time">
                Bonneville
            </a>


            <a class="item" href="#/command/time">
                Cluses
            </a>


            <a class="item" href="#/command/time">
                Sallanches
            </a>

        </ul>
    </ion-content>
</ion-view>
