<ion-view title="{{item.title}}" left-buttons="leftButtons" right-buttons="rightButtons">
    <ion-content has-header="true" padding="false">
        <div ng-if="item.id !== 'undefined'">
            <div class="text-center" style="position: relative;">
                <img class="rounded" style="padding-top: 10px;" ng-src="{{item.image}}">
                <div class="absolute-price">{{item.price | number : 2}} €</div>
                <p style="margin-bottom: 5px">{{item.description}}</p>
            </div>




            <div class="list">
                <div class="item item-button-right">

                    <h5 style="font-size: 13px;font-weight: bold;margin-left: 7px;margin-bottom: -2px" ng-pluralize count="item.piece"
                        when="{'one': '1 pièce',
                                 'other': '{} pièces'}"></h5>
                    <quantity item="item"></quantity>
                    <button ng-click="addItem(item)" style="bottom: 18px" class="button button-balanced button-bottom">
                        <i class="ion-ios7-plus-outline">  Ajouter</i></button>
                </div>
            </div>
        </div>
        <div ng-if="item.id == 'undefined'">
            Cet article n'existe pas {{item}}
        </div>
    </ion-content>
</ion-view>
