<ion-view title="Boutiques">
    <ion-content has-bouncing="false">
        <div style="text-align: center;background-color: black">
            <img src="images/long.jpg" style="width:100%;max-width: 900px;">
        </div>
        <div style="text-align: center;">

            <h4>SUSHIX
            29 av. de la Lune
            74500</h4>

            <h4 style="color:red;">Tél : 04 50 51 52 43</h4>
            <h5>Ouvert 7 jours sur 7</h5>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2768.5526437443054!2d6.5774572883606!3d46.06002066564311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c06e04dbf15db%3A0x53b4103d5351142a!2sSushi+Mont+Blanc+Restaurant+Traiteur+Take+Away!5e0!3m2!1sfr!2sfr!4v1396015262900"
                frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="100%" height="300"></iframe>
    </ion-content>
</ion-view>
