<ion-tabs class="tabs-icon-top tabs-default">


  <ion-tab title="Carte" icon="icon ion-ios7-search-strong" href="#/categories">
    <ion-nav-view name="categories-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Ingrédients" icon="icon ion-ios7-heart" href="#/ingredients">
     <ion-nav-view name="ingredients-tab"></ion-nav-view>
  </ion-tab>


  <ion-tab data-ng-controller="CartTabCtrl" badge="itemsNumber" badge-style="badge-calm animated{{shouldAnimate ? ' pulse' : ''}}" title="Panier" ng-animat="" icon="icon ion-bag " href="#/cart">
    <ion-nav-view name="cart-tab"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Boutiques" icon="icon ion-ios7-location" href="#/shops">
    <ion-nav-view name="shops-tab"></ion-nav-view>
  </ion-tab>


</ion-tabs>
