<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">


    <ion-tab title="Point de retrait" icon="icon ion-ios7-location" href="#/command/location">
        <ion-nav-view name="command-tab-location"></ion-nav-view>
    </ion-tab>


    <ion-tab title="Heure de retrait" icon="icon ion-android-clock" href="#/command/time">
        <ion-nav-view name="command-tab-time"></ion-nav-view>
    </ion-tab>


    <ion-tab title="Coordonnées" icon="icon ion-ios7-person" href="#/command/client">
        <ion-nav-view name="command-tab-client"></ion-nav-view>
    </ion-tab>


</ion-tabs>
