<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Sushi App</title>

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link href="/bower_components/ionic/release/css/ionic.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="/bower_components/ionic/release/js/ionic.bundle.js"></script>
    <script src="/bower_components/angular-local-storage/angular-local-storage.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/services.js"></script>
    <script src="/scripts/controllers.js"></script>
    <script src="/scripts/filters.js"></script>
    <script src="/scripts/directives.js"></script>
    <!-- endbuild -->
</head>

<body ng-app="sushi" ng-controller="mainCtrl" animation="slide-left-right-ios7" ontouchstart="">

<a href="#/"><img src="images/sushimontblanc2.jpg" class="logo"></a>
<ion-nav-bar type="bar-positive"
             animation="nav-title-slide-ios7"
             back-button-type=""
        >

</ion-nav-bar>

<ion-nav-view></ion-nav-view>

</body>
</html>